@charset "utf-8";

:root {
    --tm: #00000000;
    --tm40: #00000040;
    --tm66: #00000066;
    --tm99: #00000099;
    --blue: #00AAFF;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /* padding-left: 0.5em; */
    /* padding-right: 0.5em; */
    /* text-align: center; */
    overflow: auto;
}

a, a:link, a:visited {
    color: #ffce77;
    text-decoration: none;
}

.elm_outline {
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-shadow: -2px -2px #000, -2px -1px #000, -2px 0 #000, -2px 1px #000, -2px 2px #000, -1px -2px #000, -1px -1px #000, -1px 0 #000, -1px 1px #000, -1px 2px #000, 0 -2px #000, 0 -1px #000, 0 0 #000, 0 1px #000, 0 2px #000, 1px -2px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000, 1px 2px #000, 2px -2px #000, 2px -1px #000, 2px 0 #000, 2px 1px #000, 2px 2px #000;
}

.elm_white {
    color: #ffffff;
}

.elm_orange {
    color: #ffbf92;
}

.elm_green {
    color: #92dd92;
}

.elm_red {
    color: #dd9090;
}

.elm_indent p {
    text-indent: 2em;
}

.elm_delete_line {
    text-decoration: line-through;
}

.elm_bg_orange {
    background-color: #ffbf92;
}

*::-webkit-scrollbar {
    display: block;
    width: 16px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: var(--tm);
}

*::-webkit-scrollbar-track-piece {
    background-color: var(--tm);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--tm);
    border: 5px solid transparent;
    /* border-radius: 24px; */
    box-shadow: 4px 0px 0px 4px var(--tm40) inset;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--tm40);
    border: 0px solid transparent;
    box-shadow: none;
}

.table_text {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;

    tr {
        height: 3em;
    }

    th {
        font-size: 2em;
        padding: 0.5em 1em;
    }

    td {
        font-size: 1.5em;
        height: 3em;
        padding: 0.5em 1em;
    }
}

#table_sub_content_header {
    position: fixed;
    background-color: #DDD;
    table-layout: auto;
    width: 100%;
    flex: 0 1 auto;
    border-bottom: 0.5em solid #FFFFFF;
    box-shadow: var(--tm66) 0 0 6em 0;
    z-index: 2;
}

#td_overlay_header_back {
    width: 8em;
    padding: 1em 1.5em 1em 1.5em;
}

#div_overlay_header_back {
    padding: 0.5em;
    color: #000;
    background-color: #FFFFFF;
}

#th_overlay_header_title {
    font-size: 2em;
    width: 8em;
    padding: 0.5em 1em;
    color: #000;
    background-color: #FFFFFF;
}

#span_overlay_header_title {
    margin-left: 1em;
}

#div_contents {
    position: absolute;
    top: 8em;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 2em;
    padding-right: 2em;

    .div_sub_contents {
        font-size: 1.5em;
        height: 100%;
        color: #000;
        text-align: left;
        display: flex;
        flex-flow: column;
        position: relative;
    }
}

#table_main_navbar {
    table-layout: auto;
    border: 0;
    background-color: #FFFFFF;
    box-shadow: #00000011 0 2px 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    td {
        position: relative;
        width: 1em;
        height: 2em;
        padding: 0;
    }

    td div{
        background-color: var(--tm);
        border: 0 solid #000;
    }

    .div_button {
        font-size: 2em;
    }

    .div_button:hover{
        background-color: var(--blue);
    }

    .div_red_spot {
        font-size: 0.8em;
        position: absolute;
        top: 0.75em;
        right: 0.25em;
        width: 1em;
        height: 1em;
        text-shadow: none;
        margin: 0.2em;
        background-color: #ff3d3d;
        border-radius: 1em;
    }
}

#div_background {
    height: 100%;
    overflow: auto;
}

#table_settings {
    background-color: #cdcdcd;
}

.tr_border_bottom {
    border-bottom: 1px dotted #DDDDDD;
}

.td_border {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}

th input {
    width: 80%;
    font-size: 1.5em;
}

td[id^="td_box"] span {
    display: inline-block;
    margin-right: 1em;
}

textarea {
    width: 100%;
    resize: none;
}

#textarea_copy {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}

.div_button {
    background-color: #F0F0F07F;
    margin: 0;
    padding: 0.5em;
    border-radius: 0;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.div_button:hover, .div_button_settings:hover {
    background-color: #2B666666;
}

#div_mail_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: var(--tm66);
    backdrop-filter: blur(6px);

    #div_mail_overlay_detail {
        position: relative;
        height: 100%;
    }

    #div_mail_overlay_receive {
        width: 100%;
        height: 100%;
        color: #000;
        background-color: #9999;
        vertical-align: center;

    }
}

#table_mail_overlay_detail {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #6666 0 0 1em;
}

#tr_mail_title {
    background-color: #FFFFFFee;
    display: flex;
    flex-flow: row;
}

#tr_mail_title div{
    display: inline-block;
}

#div_mail_detail_title {
    font-size: 2em;
    padding-left: 6em;
}

#div_mail_detail_close {
    font-size: 2em;
    width: 1.6em;
    height: 1.6em;
    color: #FFF;
    float: right;
    text-align: center;
    background-color: #222;
}

#div_mail_detail_expiration {
    font-size:1.5em;
    margin-top: 0.4em;
    margin-right: 1em;
    float: right;
}

#tr_mail_content {
    background-color: #FFFFFFcc;
    position: relative;
    height: 36em;

    .div_mail_face_in_detail {
        top: -3em;
        left: 0.5em;
        width: 10em;
        height: 10em;
        box-shadow: #6666 0 0 1em;
    }

    .div_mail_from {
        margin-top: -11.4em;
        margin-left: 8em;
    }

    .div_mail_date {
        color: var(--blue);
        margin-top: -9.6em;
        margin-left: 8em;
        float: unset;
    }

    .div_mail_content {
        font-size: 1.5em;
        margin-top: 2em;
        margin-left: 2em;
    }
}

#table_receive {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #DDD;
}

#td_mail_attachment {
    position: relative;
}

#table_mail_background {
    width: 100%;
}

.table_mail {
    width: 100%;
    table-layout: auto;
    border-top: 1em solid var(--tm);
    cursor: pointer;
}

.table_mail tr {
    background-color: #eeeeeeaa;
}

.td_mail_face {
    width: 12em;
    position: relative;
}

.div_mail_face {
    position: absolute;
    top: 0;
    left: 0;
    width: 12em;
    height: 12em;
    background-size: cover;
}

.td_mail_title {
    font-size: 2em;
    height: 3.6em;
    vertical-align: top;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.div_mail_from {
    font-size: 1.5em;
    background-color: #000;
    color: #bbbbbb;
    display: inline-block;
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 1.5em;
    border-radius: 2em;
}

.div_mail_from span{
    color: #FFF;
    margin-left: 0.5em;
    border-radius: 2em;
}

.div_mail_date {
    font-size: 1.5em;
    float: right;
    margin-right: 0.5em;
}

.div_mail_date .span_mail_date{
    color: var(--blue);
}

.div_mail_date .span_mail_time_left{
    color: #000;
}

.td_mail_attachment {
    width: 13em;
    position: relative;
    background-color: #222;
}

.div_mail_attachment_background {
    position: absolute;
    top: 1em;
    left: 1.5em;
    width: 10em;
    height: 10em;
    background-size: cover;
    border-radius: 50%;
    outline: 0.5em solid #FF0;
    outline-offset: -0.5em;
}

.div_mail_attachment_image {
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    width: 11em;
    height: 11em;
    background-size: cover;
}

.div_mail_attachment_icon {
    position: absolute;
    width: 4em;
    height: 3.5em;
    max-width: 100%;
    max-height: 100%;
    top: 7em;
    left: 2em;
    background-size: contain;
}

.div_mail_attachment_name {
    font-size: 1.5em;
    position: absolute;
    display: inline-block;
    top: 8em;
    left: 2em;
    right: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
    height: 1.5em;
    text-align: center;
    color: #FFF;
    background-color: var(--tm99);
    box-shadow: #FF07 0 0 1em;
}

.div_mail_attachment_count {
    font-size: 1.5em;
    position: absolute;
    display: inline-block;
    top: 6em;
    left: 4em;
    padding: 0 0.5em;
    height: 1.5em;
    text-align: center;
    color: #FFF;
    background-color: var(--tm99);
}

.td_mail_buttons {
    font-size: 1.5em;
    width: 8em;
    height: 4em;
    text-align: center;
    color: #FFF;
    background-color: #222;
}

.td_mail_buttons_received {
    color: #AAA;
    cursor: auto;
}

#div_title {
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#div_title {
    font-size: 2em;
    display: inline-block;
    position: relative;
    text-align: center;
}

#div_title .div_red_spot {
    font-size: 0.4em;
    position: absolute;
    top: -0.5em;
    right: -1.2em;
    width: 1em;
    height: 1em;
    text-shadow: none;
    margin: 0.2em;
    background-color: #ff3d3d;
    border-radius: 1em;
}

.div_notice_button {
    width: 3em;
    display: inline-block;
    background-color: #F0F0F07F;
    padding: 0.5em;
    border-radius: 0;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.div_button_settings {
    width: 6em;
    display: inline-block;
    background-color: #F0F0F07F;
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 0;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.div_button_operator{
    text-shadow: -2px -2px #FFF, -2px -1px #FFF, -2px 0 #FFF, -2px 1px #FFF, -2px 2px #FFF, -1px -2px #FFF, -1px -1px #FFF, -1px 0 #FFF, -1px 1px #FFF, -1px 2px #FFF, 0 -2px #FFF, 0 -1px #FFF, 0 0 #FFF, 0 1px #FFF, 0 2px #FFF, 1px -2px #FFF, 1px -1px #FFF, 1px 0 #FFF, 1px 1px #FFF, 1px 2px #FFF, 2px -2px #FFF, 2px -1px #FFF, 2px 0 #FFF, 2px 1px #FFF, 2px 2px #FFF;
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    width: 6em;
    padding: 0.5em;
    border-radius: 0;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    z-index: 0;
}

.div_button_operator:hover {
    outline-color: var(--blue);
    outline-style: solid;
    outline-width: 0.2em;
    outline-offset: -0.2em;
}

.div_button_operator_star_6 {
    background-color: #cc5a5a;
}

.div_button_operator_star_6_temp {
    background-color: #ff9c9c;
}

.div_button_operator_star_5 {
    background-color: #ecb655;
}

.div_button_operator_star_4 {
    background-color: #ec9cec;
}

.div_button_operator_star_3 {
    background-color: #f0f0f0;
}

.div_button_operator_先锋, .div_button_operator_近卫,
.div_button_operator_重装, .div_button_operator_狙击,
.div_button_operator_术师, .div_button_operator_医疗,
.div_button_operator_辅助, .div_button_operator_特种 {
    font-size: 0.8em;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: none;
    margin: 0.2em;
    color: #cccccc;
    z-index: -1;
}

.div_button_operator_opening {
    background-color: var(--blue);
}

.div_button_operator_to_get {
    background-color: #aaaaaa;
    cursor: auto;
}

.div_button_operator_enabled_waiting {
    background-color: #aaaaaa;
}

.div_button_operator_disabled {
    color: #333333;
    background-color: #555555;
}

.div_button_operator_disabled_useless {
    background-color: #76cb8b;
}

#span_bans {
    background-color: #bbbbbb;
    cursor: pointer;
    user-select: none;
}

#span_picks {
    background-color: #aaccee;
    cursor: pointer;
    user-select: none;
}

#div_link {
    font-size: 2em;
    font-weight: bold;
    color: #2226;
    position: fixed;
    bottom: 0.2em;
    right: 0.2em;
    z-index: 6;
}
